/* Estilos generales */
html {
    scroll-behavior: smooth;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #122732 50%, #F8FAFC 50%);
    font-family: 'Poppins', sans-serif;
    color: #122732;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-top: 100px;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #122732 50%, #F8FAFC 50%) !important;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);;
    max-width: 1400px;
    margin-bottom: 20px;
    margin: 0 auto;
}
.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);;
    max-width: 1000px;
    margin-bottom: 20px;
    margin: 0 auto;
}

/* Estilo de la tarjeta */
.card {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: #C9DCE8;
    padding: 16px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    padding: 30px;
}

/* Título principal */
h2 {
    font-size: 26px;
    font-weight: bold;
    color: #FBBC08;
    margin-bottom: 30px;
    text-align: center;
}

/* Estilo de los grupos de formularios */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo de las etiquetas */
label {
    font-size: 16px;
    font-weight: bold;
    color: #122732;
    margin-bottom: 5px;
}

/* Estilo de los campos de entrada */
.input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 8px;
    border: 2px solid #95A7B3;
    font-size: 16px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
}

/* Botones */
button {
    width: auto;
    background: #FBBC08;
    color: #122732;
    font-weight: bold;
    border-radius: 12px;
    padding: 14px 20px;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

button:hover {
    background: #122732;
    color: #F8FAFC;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

/* Estilos para el pie de página */
footer {
    width: 100%;
}

/* Estilos para el contenedor de los botones */
.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: flex-end;
}

