<!-- header.component.html -->
<header>
    <nav id="menu">
      <div class="logo">
        <img src="assets/logo.jpg" alt="Logo Jurassic Bark" />
        <span class="subtitulo">Jurassic Bark Vet</span>
      </div>
      <button class="menu-hamburguesa">&#9776;</button>
      <ul class="items-navegacion">
        <li><a class="items" [routerLink]="['/']">Inicio</a></li>
        <li><a class="items" [routerLink]="['/sobre-nosotros']">Sobre Nosotros</a></li>
        
        <!-- Mostrar enlace de login solo si no está logueado -->
        <ng-container *ngIf="!isLoggedIn">
          <li><a [routerLink]="['/login']" class="contacto-btn">Login</a></li>
        </ng-container>

        <!-- Mostrar botón de cerrar sesión solo si está logueado -->
        <li *ngIf="isLoggedIn">
          <a class="items" (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a>
        </li>
      </ul>
    </nav>
</header>
