header {
    background-color: #95A7B3;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
}

header .subtitulo{
    color: #122732;
    font-size: 1.5rem;
    font-weight: 700;
}
nav {
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    align-items: center;
    transform: scale(0.8);
    gap: 1rem;
    margin-top: -10px;
}

.logo img {
    width: 120px;
    height: 120px;
}

.items-navegacion {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #122732;
    font-weight: 900;
    font-size: large;

}

.contacto-btn {
    background-color: #E2E8F0;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-bottom: 15px;
}

.contacto-btn:hover {
    background-color: #122732;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
body {
    padding-top: 150px;
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-icon {
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.user-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.user-icon i {
    font-size: 1.5rem;
}

@media (max-width: 1024px) { 
    .items-navegacion {
        display: none;
        flex-direction: column;
        background-color: #95A7B3;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .items-navegacion.active {
        display: flex;
    }

    .menu-hamburguesa {
        display: block;
        background: none;
        border: none;
        font-size: 28px;
        cursor: pointer;
        color: #122732;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .user-menu {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (min-width: 1025px) {
    .menu-hamburguesa {
        display: none;
    }

    .items-navegacion {
        display: flex !important; 
    }
}
