<!-- footer.component.html -->
<footer>
    <div class="contenedor-footer">
      <div class="footer-top">
        <div class="logo-footer">
          <img src="assets/resources/logo.jpg" alt="Logo Jurassic Bark" />
          <h1 class="titulo">Jurassic Bark</h1>
        </div>
  
        <div class="menu-footer">
          <div class="items-interes">
            <h3>Company</h3>
            <a href="#">About us</a>
            <a href="#">Our Team</a>
            <a href="#">Careers</a>
            <a href="#">Press</a>
          </div>
          <div class="items-interes">
            <h3>Services</h3>
            <a href="#">Pet Care</a>
            <a href="#">Vaccinations</a>
            <a href="#">Emergency</a>
            <a href="#">Wellness Plans</a>
          </div>
          <div class="items-interes">
            <h3>Resources</h3>
            <a href="#">Blog</a>
            <a href="#">FAQs</a>
            <a href="#">Pet Adoption</a>
            <a href="#">Insurance</a>
          </div>
          <div class="items-interes">
            <h3>Contact</h3>
            <a href="#">Help Center</a>
            <a href="#">Support</a>
            <a href="#">Appointments</a>
            <a href="#">Location</a>
          </div>
        </div>
      </div>
  
      <div class="footer-bottom">
        <p>&copy; 2025 Jurassic Bark Vet, All rights reserved</p>
        <div class="redes-sociales">
          <a href="#">
            <img src="assets/resources/Facebook.png" alt="Facebook">
          </a>
          <a href="#">
            <img src="assets/resources/Instagram.png" alt="Instagram">
          </a>
          <a href="#">
            <img src="assets/resources/Whatsapp.png" alt="Whatsapp">
          </a>
          <a href="#">
            <img src="assets/resources/Twitter.png" alt="Twitter">
          </a>
        </div>
      </div>
    </div>
  </footer>
  