<div class="login-page">
  <main class="login-container">
    <img src="assets/resources/logo.jpg" alt="Logo Jurassic Bark" />
    <h2>Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="usuario">Usuario:</label>
        <input 
          type="text" 
          id="usuario" 
          formControlName="usuario"
          required />
        <div *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched" class="error-message">
          Usuario es requerido
        </div>
      </div>

      <div class="input-group">
        <label for="contrasena">Contraseña:</label>
        <input 
          type="password" 
          id="contrasena" 
          formControlName="contrasena"
          required />
        <div *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched" class="error-message">
          Contraseña es requerida
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Ingresar</button>

      <p class="error-message" *ngIf="error">{{ error }}</p>
    </form>
  </main>
</div>

