<app-header></app-header>

<main>
    <section id="titulo">
        <h1>Nuestros Servicios <br></h1>
        <h2>¡Todo lo que tu mascota necesita en un solo lugar! 🐾<br></h2>
        <p>En Jurassic Vet, nos apasiona el bienestar de los perros y gatos. Por eso, ofrecemos una variedad de servicios diseñados para cuidar, consentir y acompañar a tu mejor amigo en cada etapa de su vida.<br>
        <br>Ven a Jurassic Vet y bríndale a tu mascota la atención que se merece. ¡Tu mejor amigo está en buenas manos! 💛🐶<br></p>
    </section>

    <section id="servicios">
        <div class="contenedor-servicios">
            <div class="texto-servicios">
                <h1>Pet Supplies</h1>
            </div>
            <div class="texto-servicios">
                <h1>Servicios de <br>Grooming</h1>
            </div>
            <div class="texto-servicios">
                <h1>Soporte <br>Veterinario</h1>
            </div>
            <div class="texto-servicios">
                <h1>Asistencia en <br>Adopción</h1>
            </div>
            <div class="texto-servicios">
                <h1>Broading y <br>Daycare</h1>
            </div>
        </div>
    </section>

    <section class="marquesina-texto">
        <div class="marquesina-contenedor">
            <span>🐶¡Cuidado profesional para tu mascota en Jurassic Bark!🐶</span>
            <span>💉Consulta veterinaria disponible💉</span>
            <span>🛁Servicio de grooming🛁</span>
            <span>🐾Adopción de mascotas 🐾</span>
            <span>🌤️Broading y Daycare🌤️</span>
        </div>
    </section>

    <!-- Modal de Productos -->
    <section id="destacados">
        <div *ngIf="modalVisible" id="modal" class="modal">
            <div class="modal-content">
                <span class="close" (click)="cerrarModal()">&times;</span>
                <h2>Productos Disponibles</h2>
                <div id="productos">
                    <div class="producto">
                        <img class="imgBorder" src="assets/servicios/juguete1.webp" alt="juguete1" height="300px">
                        <ul>
                            <li class="nombre">Juguete Enredado</li>
                            <li>Precio: 72.000 COP</li>
                        </ul>
                        <button class="agregar">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal de Grooming -->
    <section id="grooming">
        <div id="servgroom" class="modal">
            <div class="modal-content">
                <span class="close" (click)="cerrarModal()">&times;</span>
                <h2>¡Nuestros Servicios de Grooming!</h2>
                <div id="serviciosgrooming">
                    <h2>🛁¡Bañamos a tu Perrito!🛁</h2>
                    <div class="tarjeta">
                        <h3>Baño Básico</h3>
                        <ul>
                            <li>🐶 Lavado con shampoo especializado</li>
                            <li>🐶 Secado con toalla o secador de aire templado.</li>
                            <li>🐶 Cepillado básico.</li>
                        </ul>
                        <p>Costo: 30.000 COP</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal de Veterinaria -->
    <section id="veterinaria">
        <div id="vet" class="modal">
            <div class="modal-content">
                <span class="close" (click)="cerrarModal()">&times;</span>
                <h2>¿Se enfermó tu peludito?</h2>
                <p class="parrafo">Te ofrecemos atención veterinaria las 24/7. Además, si eres miembro, tienes acceso a 3 citas sin costo al mes.</p>
                <div id="serviciosvet">
                    <div class="tarjetavet">
                        <h3>Consulta Veterinaria Básica</h3>
                        <ul>
                            <li>🐶 Examen físico general</li>
                            <li>🐶 Vacunación y desparasitación</li>
                        </ul>
                        <p>Costo: 50.000 COP</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal de Adopción -->
    <section id="adopcion">
        <div id="asistencia" class="modal">
            <div class="modal-content">
                <span class="close" (click)="cerrarModal()">&times;</span>
                <h2>¿Quieres compañía para tu peludito?</h2>
                <div class="textoadopcion">
                    <h3>🐾 Adopción Exclusiva para Miembros de Jurassic Bark 🐶</h3>
                    <p>En Jurassic Bark, creemos en segundas oportunidades...</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal de Daycare -->
    <section id="daycare">
        <div id="broading" class="modal">
            <div class="modal-content">
                <span class="close" (click)="cerrarModal()">&times;</span>
                <h2>Planes de Broading y Daycare</h2>
                <div id="serviciosdaycare">
                    <div class="serviciodaycare">
                        <h3>Plan Día Feliz 🐶 <i>(Daycare Básico)</i>✂️</h3>
                        <ul>
                            <li>✔ Horario: 8:00 AM - 6:00 PM</li>
                        </ul>
                        <p>Costo: 30.000 COP/Día</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<app-footer></app-footer>
