<div class="container mt-4">
  <h4>Detalles de la Mascota</h4>

  <!-- Si la mascota existe, muestra sus datos -->
  <ng-container *ngIf="mascota">
      <div class="card">
          <ul>
              <li><strong>Nombre:</strong> {{ mascota.nombre }}</li>
              <li><strong>Edad:</strong> {{ mascota.edad }} años</li>
              <li><strong>Tipo:</strong> {{ mascota.tipo }}</li>
              <li><strong>Raza:</strong> {{ mascota.raza }}</li>
              <li><strong>Sexo:</strong> {{ mascota.sexo }}</li>
              <li><strong>Estado:</strong> {{ mascota.estado }}</li>
              <li *ngIf="mascota.imagen">
                  <strong>Imagen:</strong>
                  <img [src]="mascota.imagen" alt="{{ mascota.nombre }}" class="img-fluid" />
              </li>
          </ul>
      </div>
      <a href="/mascota/tablaMascotas" class="btn">Volver a la lista</a>
  </ng-container>

  <!-- Si la mascota NO existe, muestra un mensaje -->
  <ng-container *ngIf="!mascota">
      <p>Seleccione una mascota de la tabla</p>
  </ng-container>
</div>
