/* Reseteo y fuentes */
html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #122732 50%, #F8FAFC 50%);
    color: #122732;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1000px;
    justify-content: center;
}

/* Contenedor del formulario */
.login-container {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 400px;
    margin-top: 200px;
    margin-bottom: 80px;
    margin-inline: auto;
}


/* Título */
h2 {
    font-size: 26px;
    font-weight: bold;
    color: #122732;
    margin-bottom: 15px;
}

/* Campos de entrada */
.input-group {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #122732;
    margin-bottom: 5px;
    display: block;
}

/* Input con bordes suaves */
input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #95A7B3;
    font-size: 16px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* Efecto al enfocar */
input:focus {
    border-color: #5EB896;
    box-shadow: 0px 0px 8px rgba(94, 184, 150, 0.5);
    outline: none;
}

/* Botón de inicio de sesión */
button {
    width: 100%;
    background: #FBBC08;
    color: #122732;
    font-weight: bold;
    border-radius: 12px;
    padding: 14px;
    font-size: 18px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
}

/* Efecto hover */
button:hover {
    background: #122732;
    color: #F8FAFC;
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

/* Mensaje de error */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* Estilo para mostrar error de campos */
.error {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

footer {
    width: 100%;
    bottom: 0;
}
