main {
    background-color: #122732; /* Fondo oscuro */
}

/* Estilos de los modales */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    overflow: auto;
}

.modal-content {
    background-color: #C9DCE8;
    padding: 50px;
    border-radius: 10px;
    width: 800px;
    margin: 150px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1001;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

#productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.producto {
    background-color: #122732;
    padding: 15px;
    color: #F8FAFC;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.producto ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.producto li {
    margin-bottom: 5px;
}

.producto button {
    background-color: #FBBC08;
    color: #122732;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #F57B11;
}

/* Mostrar modal */
.modal.ngIf {
    display: block; /* Mostrar modal cuando se activa */
}
