.textoadopcion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
    max-width: 1200px;
    border: 5px solid #FBBC08;
    padding: 20px;
    border-radius: 15px;
}
.textoadopcion h3{
    font-size: 30px;
    color: #122732;
    margin-top: 20px;
}
.textoadopcion p{
    font-size: 20px;
    color: #122732;
    margin-top: 10px;
}
.enfasis{
    margin-top: 20px;
    font-weight: 900;
}

#carritoContenido {
    display: none;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 27px;
    width: 400px;
    background-color: #95A7B3 !important;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 10px;
    max-height: 700px; 
    overflow-y: auto; 
    z-index: 5000;
}
#carritoContenido h2 {
    font-size: 1.5em;
    margin-bottom: 10px; /* Agrega espacio debajo del título */
    text-align: center;
    width: 370px;
    color: #ffffff;
    border-bottom: 5px solid #FBBC08;
    position: fixed;
    background: #122732;
    padding: 20px;
}
#carritoContenido ul{
    list-style: none;
    padding-top: 80px;
    padding-bottom: 8px;
    padding-right: -150px;
    align-items: left;
}
#listaCarrito {
    list-style: none;
    padding: 0;
}
#listaCarrito li {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: right;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    font-weight: 900px;
}
#listaCarrito button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: red;
    padding: 5px;
    right: 30px; /* Lo coloca a la derecha */
}
#listaCarrito button:hover {
    transform: scale(1.2);
}
#carrito {
    position: relative;
    cursor: pointer;
}
#carro{
    list-style: none;
}
#carrito:hover #carritoContenido {
    display: block;
    z-index: 3000;
}
#totalCarrito {
    text-align: right;
    font-weight: bold;
    position: sticky;
    bottom: 0;
    background: #122732;
    padding: 10px;
    border-top: 5px solid #FBBC08;
}
#productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 20px; /* Espacio entre los productos */
    padding: 20px;
    justify-items: center; 
}
.producto{
    background-color: #122732; /* Color de fondo para cada producto */
    padding: 15px;
    color: #F8FAFC;
    border-radius: 8px;
    text-align: left;
    width: 100%;
    max-width: 400px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.producto img{
    width: 75%;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.producto ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 5px;
}
.producto li{
    margin-bottom: 5px;
    font-weight: 600;
    padding-top: 3px;
}
.producto button{
    background-color: #C9DCE8;
    color: #122732;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.producto:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3); 
    background-color: #122732b3; 
}
.producto button:hover{
    background-color: #FBBC08;
    transform: scale(1.1);
}
.nombre{
    font-weight: 1000px;
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
}
.imgBorder{
    border: 5px solid #FBBC08;
}
.marquesina-petsupplies {
    background-color:#FBBC08;
    padding: 16px 0;
    margin-top: 20px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    color: #122732;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
}

.marquesina-contenedor {
    display: flex;
    gap: 32px;
    animation: scrollText 20s linear infinite;
    white-space: nowrap;
}

/* Animación de desplazamiento */
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

#serviciosdaycare{
    background-color:  #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
    column-gap: 5px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
}
.serviciodaycare{
    background-color: #C9DCE8;
    padding: 20px;
    color: #122732;
    border-radius: 8px;
    width: 500px;
    height: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 5px solid #FBBC08;
}
.serviciodaycare h3{
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}
.serviciodaycare:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 255, 255, 0.3); 
    background-color: #96cbeb; 
    
}
.tarjetadaycare{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
    text-align: left;
}
.tarjetadaycare ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    flex-grow: 1;
}
.tarjetadaycare li{
    list-style: none;
    width: 400px;
    font-weight: 500;
}
.tarjetadaycare button{
    background-color: #87a0b1;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: scale 0.3s ease;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tarjetadaycare button:hover{
    background-color: #6d99b6;
    transform: scale(1.1);
}
.tarjetadaycare p{
    font-weight: 800;
}

#serviciosgrooming{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#serviciosgrooming h2{
    font-size: 30px;
}
#serviciosgrooming ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}
#serviciosgrooming li{
    list-style: none;
    align-items: center;
    font-weight: 300;
}
.servicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #87a0b1;
    padding: 50px;
    border-radius: 15px;
    width: 100%;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #122732;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    font-weight: 600;
}
.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: #FBBC08;
    color: #122732;
}
.vib{
    background: linear-gradient(to right, #eaff00, #ffbb00) !important;
}
.es{
    background-color: #010040;
}
.es:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to right, #0400ff, #000052) !important;
    color: white;
}
.boton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #122732;
    padding: 50px;
    border-radius: 15px;
    width: 100%;
    margin-top: 20px;
}
.boton h3{
    font-size: 40px;
    font-weight: 600;
    color: #FBBC08;
    text-align: left;

}
.boton button{
    background-color: #87a0b1;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: scale 0.3s ease;
    width: 400px;
}
.boton button:hover{
    background-color: #6d99b6;
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 120px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    
}
.modal-content {
    background-color: #C9DCE8;
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 1200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1001;
    max-height: 700px;
    overflow-y: auto; 
    border: 5px solid #FBBC08;
}
.modal-content h2{
    font-size: 50px;
    color: #122732;
}
.close {
    position: fixed;
    top: 10px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}
.parrafo{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}
#serviciosvet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
#serviciosvet h2{
    font-size: 30px;
}
#serviciosvet ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
}
#serviciosvet li{
    list-style: none;
    align-items: center;
    font-weight: 300;
}
#serviciosvet h3{
    font-size: 30px;
    color: #122732;
}
.serviciovet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    background-color: #87a0b1;
    padding: 50px;
    border-radius: 15px;
    width: 50%;
    height: 500px;
    border: 5px solid #FBBC08;
}
.tarjetavet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 450px;
    height: auto;
    padding: 20px;
    background-color: #122732;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    font-weight: 600;
}
.tarjetavet:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background-color: #FBBC08;
    color: #122732;
}
