/* dashboard.component.css */

/* Contenedor principal del dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  background: #002640;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Header del dashboard */
.dashboard-header {
  text-align: center;
  margin-bottom: 30px;
  font-size: larger;
  background-color: #122732;
  padding: 60px;
  margin-top: 90px;
  width: 1800px;
  margin-left: -30px;
}

.dashboard-header h1 {
  font-size: 3em;
  color: #FFCC00;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px #000;
}

.dashboard-header .welcome-message {
  font-size: 3.0em;
  color: #F8FAFC;
  opacity: 0.85;
}

/* Contenedor de los gráficos */
.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.chart-container h3 {
  font-size: 3.5em;
  color: #FFCC00;
  font-weight: bold;
  margin: 0;
  flex: 1 1 45%;
  text-shadow: 1px 1px #000;
}

canvas {
  flex: 1 1 45%;
  max-width: 750px;
  height: 400px !important;
  border-radius: 15px;
  background-color: #ffffff;
  border: 3px solid #FFCC00;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Contenedor de estadísticas */
.statistics {
  background-color: rgba(31, 42, 55, 0.95);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.statistics h3 {
  font-size: 3.0em;
  color: #FFCC00;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

/* Estilo de tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #FFCC00;
  color: #122732;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
}

td {
  background-color: #F9FAFB;
  font-size: 1em;
  color: #122732;
}

tr:hover td {
  background-color: #E5E7EB;
}

/* Quitar el borde inferior al último elemento */
table tbody tr:last-child td {
  border-bottom: none;
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard {
    padding: 15px;
  }

  .chart-container {
    flex-direction: column;
  }

  .chart-container h3 {
    flex: 1 1 100%;
    margin-bottom: 10px;
  }

  canvas {
    width: 90% !important;
    height: 250px !important;
  }

  .statistics h3 {
    font-size: 1.6em;
  }

  th, td {
    font-size: 0.95em;
  }
}
.mt-3{
  margin-left: 50px;
  display: flex;
  gap: 500px; 
}
.mt-3 a{
  font-size: em;
  background-color: #FFCC00;
  color:#000;
  font-weight: bold;
  margin-bottom: 10px;
}
