<!-- dashboard.component.html -->
<div class="dashboard">
  <!-- Gráfico de Tratamientos por Medicamento -->
  <div class="chart-container">
    <canvas id="tratamientosPorMedicamento"></canvas>
  </div>

  <!-- Gráfico de Veterinarios Activos e Inactivos -->
  <div class="chart-container">
    <canvas id="ComparacionNumerodeVeterinariosvsClientes"></canvas>
  </div>

  <!-- Gráfico de Mascotas Activas e Inactivas -->
  <div class="chart-container">
    <canvas id="mascotasActivasInactivas"></canvas>
  </div>

  <div class="statistics">
    <h3>Total de Tratamientos Administrados: {{ stats.totalTratamientos }}</h3>

    <h3>Veterinarios Activos</h3>
    <table>
      <thead>
        <tr>
          <th>Veterinarios Activos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ stats.veterinariosActivos }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Estado de las Mascotas</h3>
    <table>
      <thead>
        <tr>
          <th>Estado</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Activas</td>
          <td>{{ stats.mascotasActivas }}</td>
        </tr>
        <tr>
          <td>Inactivas</td>
          <td>{{ stats.mascotasInactivas }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Tratamientos por Medicamento</h3>
    <table>
      <thead>
        <tr>
          <th>Medicamento</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of stats.tratamientosPorMedicamento">
          <td>{{ item.medicamento }}</td>
          <td>{{ item.cantidad }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
