<app-header></app-header>
<div class="dashboard">
  <!-- Título principal de Dashboard y mensaje de bienvenida -->
  <div class="dashboard-header">
    <h1>Dashboard</h1>
    <p class="welcome-message">Bienvenido a tu panel de control </p>
  </div>

  <!-- Gráfico de Veterinarios Activos e Inactivos -->
  <div class="chart-container">
    <h3 align="right">Comparación Veterinarios Activos vs Inactivos</h3> <!-- Título del gráfico a la izquierda -->
    <canvas id="ComparacionNumerodeVeterinariosvsClientes"></canvas>
  </div>

  <!-- Gráfico de Mascotas Activas e Inactivas -->
  <div class="chart-container">
    <canvas id="mascotasActivasInactivas"></canvas>
    <h3>Comparación Mascotas Activas vs Inactivas</h3> <!-- Título del gráfico a la derecha -->
    
  </div>

  <div class="statistics">
    <h3>Total de Tratamientos Administrados: {{ stats.totalTratamientos }}</h3>

    <h3>Veterinarios Activos</h3>
    <table>
      <thead>
        <tr>
          <th>Veterinarios Activos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ stats.veterinariosActivos }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Estado de las Mascotas</h3>
    <table>
      <thead>
        <tr>
          <th>Estado</th>
          <th>Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Activas</td>
          <td>{{ stats.mascotasActivas }}</td>
        </tr>
        <tr>
          <td>Inactivas</td>
          <td>{{ stats.mascotasInactivas }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>