<app-header></app-header>

<main>
  <section id="bienvenida">
    <div class="contenedor-bienvenida">
      <span class="tag">#1Petcare en el país</span>
      <h1 class="titulo">
        Asegurando<br />Cuidado y Apoyo<br />para Sus Queridas<br />Mascotas
      </h1>
      <p class="parrafo">
        Nuestra clínica veterinaria brinda atención integral y compasiva a
        sus seres queridos.
      </p>

      <div id="botones-bienvenida">
        <a href="/clientes/login" class="btn-agendar">Agendar</a>
        <a class="btn-comunidad">Únete a la comunidad</a>
      </div>
    </div>

    <div class="contenedor-animales">
      <div class="imagen-animales">
        <img src="assets/cedric-vt-IuJc2qh2TcA-unsplash.jpg" alt="Imagen de mascotas" />
      </div>
      <div class="imagen-animales">
        <img src="assets/alvan-nee-ZCHj_2lJP00-unsplash.jpg" alt="Imagen de mascotas" />
      </div>
      <div class="imagen-animales">
        <img src="assets/alvan-nee-eoqnr8ikwFE-unsplash.jpg" alt="Imagen de mascotas" />
      </div>
      <div class="imagen-animales">
        <img src="assets/alvan-nee-8g0D8ZfFXyA-unsplash.jpg" alt="Imagen de mascotas" />
      </div>
    </div>
  </section>

  <section class="marquesina-texto">
    <div class="marquesina-contenedor">
      <span>🐾Cuidado diario 🐾</span>
      <span>🐾Grooming 🐾</span>
      <span>🐾Soporte veterinario 🐾</span>
      <span>🐾Adopción de mascotas 🐾</span>
      <span>🐾Boarding 🐾</span>
      <span>🐾Cuidado diario 🐾</span>
      <span>🐾Grooming 🐾</span>
      <span>🐾Soporte veterinario 🐾</span>
      <span>🐾Adopción de mascotas 🐾</span>
      <span>🐾Boarding 🐾</span>
    </div>
  </section>

  <section id="metricas">
    <div class="contenedor-metricas">
      <div class="imagen-metricas">
        <img src="assets/karsten-winegeart-oU6KZTXhuvk-unsplash.jpg" alt="Imagen de métricas" />
      </div>

      <div class="contenido-metricas">
        <h1 class="titulo">
          Donde sus mascotas están en el centro de todo lo que hacemos,
          nuestra misión es brindar una atención excepcional.
        </h1>
        <p class="parrafo">
          Desde el cuidado hasta el bienestar, cubrimos todos los aspectos
          de las necesidades de tu mascota. Nuestro equipo se mantiene
          actualizado sobre lo último en cuidado de mascotas para brindar
          las mejores soluciones para usted y sus amigos peludos.
        </p>

        <div class="contenedor-estadisticas">
          <div class="estadistica">
            <h2 class="numero">90K</h2>
            <p class="descripcion">Usuarios satisfechos</p>
          </div>
          <div class="estadistica">
            <h2 class="numero">150K</h2>
            <p class="descripcion">Afiliados</p>
          </div>
          <div class="estadistica">
            <h2 class="numero">95%</h2>
            <p class="descripcion">Proyectos exitosos</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mision">
    <div class="mision-texto">
      <h1 class="titulo">
        Asegurando Cuidado y Apoyo para Sus Queridas Mascotas
      </h1>
      <div>
        <p class="parrafo">
          Nuestro compromiso es ofrecer un servicio integral que garantice
          el bienestar de cada mascota.
        </p>
        <button class="agendar">Averigüe más</button>
      </div>
    </div>

    <div class="mision-cards">
      <article class="card">
        <img src="assets/FotoMision4.jpg" alt="Cuidado excepcional" />
        <h3 class="subtitulo">Cuidado excepcional para su mascota</h3>
        <p class="parrafo">
          Tratamos a tus amigos peludos, emplumados o escamosos como si
          fueran de la familia. Nuestro dedicado equipo garantiza que cada
          mascota reciba el amor y la atención que merecen.
        </p>
      </article>

      <article class="card">
        <img src="assets/FotoMision1.jpg" alt="Consejos expertos" />
        <h3 class="subtitulo">Consejos de expertos</h3>
        <p class="parrafo">
          Nuestro personal capacitado está aquí para ayudarlo con consejos,
          recomendaciones y soluciones adaptadas a las necesidades de su
          mascota.
        </p>
      </article>

      <article class="card">
        <img src="assets/FotoMision2.jpg" alt="Ambiente seguro" />
        <h3 class="subtitulo">Un ambiente seguro</h3>
        <p class="parrafo">
          La seguridad de su mascota es nuestra prioridad. Mantenemos un
          espacio limpio, seguro y amigable para todos los animales.
        </p>
      </article>

      <article class="card">
        <img src="assets/FotoMision3.jpg" alt="Servicio comunitario" />
        <h3 class="subtitulo">Servicio impulsado por la comunidad</h3>
        <p class="parrafo">
          Como amantes de las mascotas, nos apasiona construir una comunidad
          de mascotas felices y dueños felices.
        </p>
      </article>
    </div>
  </section>

  <section id="servicios">
    <div class="contenedor-servicios">
      <div class="imagen-servicio">
        <img src="assets/karsten-winegeart-BJaqPaH6AGQ-unsplash.jpg" alt="Servicios de Grooming" />
        <p class="descripcion-imagen" id="descripcion-imagen">Servicios</p>
      </div>

      <div class="contenido-servicios">
        <h1 class="titulo">Nuestros Servicios</h1>
        <div class="lista-servicios">
          <article class="card-servicio"
            data-imagen="assets/karsten-winegeart-88lDyjdIDGw-unsplash.jpg"
            data-descripcion="Pet Supplies: Encuentra juguetes y accesorios para tu mascota.">
            <img src="assets/3775238_animal_dog_grooming_pet_shampoo_icon.png" alt="Icono Suministros" />
            <h2 class="subtitulo">Pet Supplies</h2>
            <div class="botones-servicio">
              <button class="boton-popup" data-opcion="Juguetes" data-imagen="assets/juguetes.jpg">Juguetes</button>
              <button class="boton-popup" data-opcion="Accesorios" data-imagen="assets/accesorios.jpg">Accesorios</button>
            </div>
          </article>

          <article class="card-servicio"
            data-imagen="assets/karsten-winegeart-Qb7D1xw28Co-unsplash.jpg"
            data-descripcion="Servicios de Grooming: Mantén a tu mascota limpia y saludable.">
            <img src="assets/3775252_barber_dog_groomer_grooming_hair_icon.png" alt="Icono Grooming" />
            <h2 class="subtitulo">Servicios de Grooming</h2>
            <div class="botones-servicio">
              <button class="boton-popup" data-opcion="Uñas" data-imagen="assets/unas.jpg">Uñas</button>
              <button class="boton-popup" data-opcion="Cortes de pelo" data-imagen="assets/corte.jpg">Cortes de pelo</button>
            </div>
          </article>

          <article class="card-servicio"
            data-imagen="assets/laura-paraschivescu-1nSfM6xQpVU-unsplash.jpg"
            data-descripcion="Soporte Veterinario: Cuida la salud de tu mascota con chequeos regulares.">
            <img src="assets/3775242_animal_clinic_healthcare_hospital_pet_icon.png" alt="Icono Veterinario" />
            <h2 class="subtitulo">Soporte Veterinario</h2>
            <div class="botones-servicio">
              <button class="boton-popup" data-opcion="Chequeo de salud" data-imagen="assets/chequeo.jpg">Chequeo de salud</button>
              <button class="boton-popup" data-opcion="Vacunas" data-imagen="assets/vacunas.jpg">Vacunas</button>
            </div>
          </article>

          <article class="card-servicio"
            data-imagen="assets/jonas-vincent-xulIYVIbYIc-unsplash.jpg"
            data-descripcion="Asistencia en adopción: Ayudamos a encontrar el hogar ideal para tu mascota.">
            <img src="assets/3775247_canine_dog_doghouse_house_kennel_icon.png" alt="Icono Adopción" />
            <h2 class="subtitulo">Asistencia en adopción</h2>
            <div class="botones-servicio">
              <button class="boton-popup" data-opcion="Refugios" data-imagen="assets/refugios.jpg">Refugios</button>
            </div>
          </article>

          <article class="card-servicio"
            data-imagen="assets/timo-volz-ZlFKIG6dApg-unsplash.jpg"
            data-descripcion="Broading y DayCare: Servicio de guardería y entretenimiento para tu mascota.">
            <img src="assets/3775232_animal_care_pet_vet_veterinarian_icon.png" alt="Icono Daycare" />
            <h2 class="subtitulo">Broading y DayCare</h2>
            <div class="botones-servicio">
              <button class="boton-popup" data-opcion="Entretenimiento" data-imagen="assets/entretenimiento.jpg">Entretenimiento</button>
              <button class="boton-popup" data-opcion="Comida" data-imagen="assets/comida.jpg">Comida</button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>


  
  <section id="suscripciones">
    <div class="contenedor-suscripciones">
      <h1 class="titulo">
        Mantén a tus mascotas felices y saludables, únete hoy para cuidado
        experto
      </h1>

      <div class="planes">
        <article class="plan">
          <div class="plan-header starter">
            <span class="etiqueta-plan">Starter Plan</span>
            <h2 class="precio">$250.00 <span>/Mensual</span></h2>
            <p class="descripcion">
              Opción ideal para el cuidado básico de tu mascota
            </p>
            <a class="btn-suscribir">Únete Ya</a>
          </div>
          <ul class="lista-servicios">
            <li>🐶 Consulta veterinaria general</li>
            <li>🐶 Vacunación básica (rabia, parvovirus)</li>
            <li>🐶 Desparasitación interna</li>
            <li>🐶 Corte de uñas</li>
            <li>🐶 Limpieza de oídos</li>
            <li>🐶 Evaluación nutricional</li>
            <li>🐶 Descuento del 5% en medicamentos</li>
            <li>🐶 Atención prioritaria en emergencias</li>
          </ul>
        </article>

        <article class="plan">
          <div class="plan-header avanzado">
            <span class="etiqueta-plan">Plan Avanzado</span>
            <h2 class="precio">$300.00 <span>/Mensual</span></h2>
            <p class="descripcion">
              Mayor cobertura para la salud de tu mascota
            </p>
            <a class="btn-suscribir">Únete Ya</a>
          </div>
          <ul class="lista-servicios">
            <li>🐶 Todo lo incluido en el Starter Plan</li>
            <li>🐶 Consulta veterinaria especializada</li>
            <li>🐶 Análisis de sangre anual</li>
            <li>🐶 Profilaxis dental (limpieza básica)</li>
            <li>🐶 Control de peso y dieta personalizada</li>
            <li>🐶 Baño y cepillado mensual</li>
            <li>🐶 Descuento del 10% en medicamentos</li>
            <li>🐶 Atención veterinaria en domicilio (1 visita mensual)</li>
          </ul>
        </article>

        <article class="plan">
          <div class="plan-header exclusivo">
            <span class="etiqueta-plan">Plan Exclusivo</span>
            <h2 class="precio">$330.00 <span>/Mensual</span></h2>
            <p class="descripcion">
              Cuidado premium con servicios avanzados
            </p>
            <a class="btn-suscribir">Únete Ya</a>
          </div>
          <ul class="lista-servicios">
            <li>🐶 Todo lo incluido en el Plan Avanzado</li>
            <li>🐶 Vacunación completa anual</li>
            <li>🐶 Chequeo oftalmológico y dermatológico</li>
            <li>🐶 Ecografía o radiografía anual</li>
            <li>🐶 Corte de pelo personalizado</li>
            <li>🐶 Masaje terapéutico mensual</li>
            <li>🐶 Descuento del 15% en servicios adicionales</li>
            <li>🐶 Transporte veterinario en caso de emergencia</li>
          </ul>
        </article>

        <article class="plan">
          <div class="plan-header premium">
            <span class="etiqueta-plan">Plan Premium</span>
            <h2 class="precio">$377.00 <span>/Mensual</span></h2>
            <p class="descripcion">
              El mejor cuidado integral para tu mascota
            </p>
            <a class="btn-suscribir">Únete Ya</a>
          </div>
          <ul class="lista-servicios">
            <li>🐶 Todo lo incluido en el Plan Exclusivo</li>
            <li>🐶 Revisión veterinaria mensual</li>
            <li>🐶 Seguro de emergencias médicas</li>
            <li>🐶 Fisioterapia y rehabilitación (1 sesión mensual)</li>
            <li>🐶 Análisis de laboratorio semestral</li>
            <li>🐶 Asesoría en comportamiento y adiestramiento</li>
            <li>🐶 Descuento del 20% en productos y accesorios</li>
            <li>🐶 Servicio de guardería por 3 días al mes</li>
          </ul>
        </article>
      </div>
    </div>
  </section>

  
</main>

<app-footer></app-footer>
